@font-face{
	font-family: 'OSL';
	src: url('./fonts/OpenSans-Light.ttf');
}

@font-face{
	font-family: 'OSR';
	src: url('./fonts/OpenSans-Regular.ttf');
}

html{
	font-family: sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	font-family: inherit;
}
.-absolute-center{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.-header{
	width:90%;
	height:80vh;
}

.-header-text{
	line-height: 80vh;
}
.-header-img{
	bottom:0px;
	left: 0px;
	width: 240px;
}


/*phones*/
@media (max-width:767px) {
	.-hide-xs{
		display: none!important;
	}
}

/*tablet*/
@media (min-width:768px) and (max-width:991px) {
	.-hide-sm{
		display: none!important;
	}

}

/*monitor*/
@media (min-width:992px) and (max-width:1199px) {

	.-hide-md{
		display: none!important;
	}
}

/*large monitor*/
@media (min-width:1200px) {
	.-hide-lg{
		display: none!important;
	}

}


.-ln{
	text-decoration:none;
}
.-title{
	left: 265px;
	width: 60%;
	bottom: 0px;
	font-size: 3em;
	--padding:2px;
}

.-title-p1{
	font-weight:400;
	padding-bottom:var(--padding);
}
.-title-p2{
	font-weight:100;
	padding-top:var(--padding);
}
.-nav{
	background: #fff;
	font-size: 14px;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.-nav-item{
	position: relative;
	cursor: pointer;
	margin: 0 10px;
	padding: 15px;
}

.-nav-item:after{
	position: absolute;
	content: "";
	bottom: 50%;
    left: 0%;
    width: 0%;
	height: 2px;
	background: var(--accent-color);
	transition: 0.2s ease all;
}
.-nav-item.-active:after{
	left: -35%;
}

.-nav-item:before{
	position: absolute;
	content: "";
	bottom: 50%;
    left: 95%;
    width: 0%;
	height: 2px;
	background: var(--accent-color);
	transition: 0.2s ease all;
}

.-nav-item.-active:after,.-nav-item.-active:before{
	width: 40%;
}

.-nav-brand{
	position: relative;
    top: 10px;
	width: 45px;
	cursor: pointer;
	transform: translateY(-300%);
	transition: 0.4s ease all;
}

.-footer{
	width: 100%;
    text-align: center;

	color: #333;
	font-size: 12px;
    border-top: 1px solid #eee;
}
.-theme{
	--plain-text: #fff;
	--theme-color: #357edd;
	--accent-color: #1D3963;
}

.-thm{
	color: var(--theme-color);
}
.-acc{
	color: var(--accent-color);
}
